form#authentication.hidden(action='/', method='post')
  fieldset
    legend Authentication
    .row
      mixin field(12, 'text', 'email', 'Email')
    .row
      mixin field(12, 'password', 'password', 'Password')
    .row
      .small-6.columns: button#register.radius.tiny.expand Register
      .small-6.columns: button#login.radius.success.tiny.expand Login