extends ../template/layout
include ../mixins/form-helper


block content
  #wrap
    .row
      .small-12.columns
        h1 Diet Quality Score
    .row
      .small-12.columns#logDate
        a#prev <-
        span 11/20/13
        a#next ->
    .row
      .small-8.columns
        #mainDisplay
          #goodFoods
            .row
              .small-4.columns#fruitLabel Fruit
              .small-8.columns#fruit
                .small-2.columns
                  .servingButton.goodFood 2
                .small-2.columns
                  .servingButton.goodFood 2
                .small-2.columns
                  .servingButton.goodFood 2
                .small-2.columns
                  .servingButton.goodFood 1
                .small-2.columns
                  .servingButton.goodFood 0
                .small-2.columns
                  .servingButton.goodFood 0
            .row
              .small-4.columns#vegetableLabel Vegetable
              .small-8.columns#vegetable
                .small-2.columns
                  .servingButton.goodFood 2
                .small-2.columns
                  .servingButton.goodFood 2
                .small-2.columns
                  .servingButton.goodFood 2
                .small-2.columns
                  .servingButton.goodFood 1
                .small-2.columns
                  .servingButton.goodFood 0
                .small-2.columns
                  .servingButton.goodFood 0
            .row
              .small-4.columns#leanProteinLabel Lean Protein
              .small-8.columns#leanProtein
                .small-2.columns
                  .servingButton.goodFood 2
                .small-2.columns
                  .servingButton.goodFood 2
                .small-2.columns
                  .servingButton.goodFood 1
                .small-2.columns
                  .servingButton.goodFood 0
                .small-2.columns
                  .servingButton.goodFood 0
                .small-2.columns
                  .servingButton.badFood -1
            .row
              .small-4.columns#wholeGrainLabel Whole Grain
              .small-8.columns#wholeGrains
                .small-2.columns
                  .servingButton.goodFood 2
                .small-2.columns
                  .servingButton.goodFood 2
                .small-2.columns
                  .servingButton.goodFood 1
                .small-2.columns
                  .servingButton.goodFood 0
                .small-2.columns
                  .servingButton.goodFood 0
                .small-2.columns
                  .servingButton.badFood -1
            .row
              .small-4.columns#dairyLabel Lowfat Dairy
              .small-8.columns#dairy
                .small-2.columns
                  .servingButton.goodFood 1
                .small-2.columns
                  .servingButton.goodFood 1
                .small-2.columns
                  .servingButton.goodFood 1
                .small-2.columns
                  .servingButton.goodFood 0
                .small-2.columns
                  .servingButton.badFood -1
                .small-2.columns
                  .servingButton.badFood -2
            .row
              .small-4.columns#nutsAndSeedsLabel Nuts and Seeds
              .small-8.columns#nutsAndSeeds
                .small-2.columns
                  .servingButton.goodFood 2
                .small-2.columns
                  .servingButton.goodFood 0
                .small-2.columns
                  .servingButton.goodFood 0
                .small-2.columns
                  .servingButton.goodFood 0
                .small-2.columns
                  .servingButton.badFood -1
                .small-2.columns
                  .servingButton.badFood -1
          #badFoods
            .row
              .small-4.columns#refinedGrainsLabel Refined Grains
              .small-8.columns#refinedGrains
                .small-2.columns
                  .servingButton.badFood -1
                .small-2.columns
                  .servingButton.badFood -1
                .small-2.columns
                  .servingButton.badFood -2
                .small-2.columns
                  .servingButton.badFood -2
                .small-2.columns
                  .servingButton.badFood -2
                .small-2.columns
                  .servingButton.badFood -2
            .row
              .small-4.columns#sweetsLabel Sweets
              .small-8.columns#sweets
                .small-2.columns
                  .servingButton.badFood -2
                .small-2.columns
                  .servingButton.badFood -2
                .small-2.columns
                  .servingButton.badFood -2
                .small-2.columns
                  .servingButton.badFood -2
                .small-2.columns
                  .servingButton.badFood -2
                .small-2.columns
                  .servingButton.badFood -2
            .row
              .small-4.columns#friedFoodsLabel Fried Food
              .small-8.columns#friedFoods
                .small-2.columns
                  .servingButton.badFood -2
                .small-2.columns
                  .servingButton.badFood -2
                .small-2.columns
                  .servingButton.badFood -2
                .small-2.columns
                  .servingButton.badFood -2
                .small-2.columns
                  .servingButton.badFood -2
                .small-2.columns
                  .servingButton.badFood -2
            .row
              .small-4.columns#fattyProteinLabel Fatty Protein
              .small-8.columns#fattyProtein
                .small-2.columns
                  .servingButton.badFood -1
                .small-2.columns
                  .servingButton.badFood -1
                .small-2.columns
                  .servingButton.badFood -2
                .small-2.columns
                  .servingButton.badFood -2
                .small-2.columns
                  .servingButton.badFood -2
                .small-2.columns
                  .servingButton.badFood -2
      .small-4.columns
        .row
          #dailyTotal
            span#dailyTotalText 0
        .row
          #foodEntry
            form#foodSearch(action='/search', method='post')
              fieldset
                legend Food Search
                .row
                  mixin field(12, 'text', 'food')
                .row
                  .small-6.small-offset-6.columns: a#searchButton.button.radius.success.small.expand Search
    .row
      .small-12.columns#searchResults.hidden Search Results
        ul#actualResults 

