extends ../template/layout
include ../mixins/form-helper
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

block content
  #wrapper.hidden
    #wrap
      .row
        .small-12.columns#logDate
          a#prev: img(src= '../images/left_arrow.png')
          span#actualDate 
          a#next: img(src= '../images/right_arrow.png')
      .row#mainPlusTotal
        .small-9.columns#mainDisplayWrap
          #mainDisplay
            #mainDisplayHeader
              .row#servingRow1
                .small-2.columns
                .small-10.columns#servingNumberWideBanner
                  .small-4.columns
                  .small-8.columns#servingNumberLabel <em>SERVING NUMBER</em>
              .row#servingRow2
                .small-2.columns
                .small-10.columns#servingNumberBanner
                  .small-4.columns#foodTypeLabel FOOD TYPE
                  .small-8.columns#indyServingNumberLabels
                    .small-2.columns 1st
                    .small-2.columns 2nd
                    .small-2.columns 3rd
                    .small-2.columns 4th
                    .small-2.columns 5th
                    .small-2.columns 6th
            .row#goodFoodsArea
              .small-2.columns 
                h4 HIGH 
                p.quality QUALITY
              .small-10.columns
                #goodFoods
                  .row
                    .small-4.columns#fruitLabel Fruit
                    .small-8.columns#fruit
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 2
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 2
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 2
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 1
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 0
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 0
                  .row
                    .small-4.columns#vegetableLabel Vegetable
                    .small-8.columns#vegetable
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 2
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 2
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 2
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 1
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 0
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 0
                  .row
                    .small-4.columns#leanProteinLabel Lean Protein
                    .small-8.columns#leanProtein
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 2
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 2
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 1
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 0
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 0
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -1
                  .row
                    .small-4.columns#nutsAndSeedsLabel Nuts and Seeds
                    .small-8.columns#nutsAndSeeds
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 2
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 2
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 1
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 0
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 0
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -1
                  .row
                    .small-4.columns#wholeGrainLabel Whole Grain
                    .small-8.columns#wholeGrains
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 2
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 2
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 1
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 0
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -1
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                  .row
                    .small-4.columns#dairyLabel Lowfat Dairy
                    .small-8.columns#dairy
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 1
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 1
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 1
                      .small-2.columns
                        .servingButton.goodFood(data-reveal-id='myModal') 0
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -1
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
            .row#badFoodsArea
              .small-2.columns 
                h4 LOW 
                p.quality QUALITY
              .small-10.columns
                #badFoods
                  .row
                    .small-4.columns#refinedGrainsLabel Refined Grains
                    .small-8.columns#refinedGrains
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -1
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -1
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                  .row
                    .small-4.columns#sweetsLabel Sweets
                    .small-8.columns#sweets
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                  .row
                    .small-4.columns#friedFoodsLabel Fried Food
                    .small-8.columns#friedFoods
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                  .row
                    .small-4.columns#fattyProteinLabel Fatty Protein
                    .small-8.columns#fattyProtein
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -1
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -1
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
                      .small-2.columns
                        .servingButton.badFood(data-reveal-id='myModal') -2
        .small-3.columns
          .row
            h3#label Daily Total
            #dailyTotal 
              span#dailyTotalText 0
          .row
            a#helpMessage Not sure how to score an item? Get help.
            #foodEntry.hidden
              form#foodSearch(action='/search', method='post')
                fieldset
                  legend Food Search
                  .row#foodEntry
                    mixin field(12, 'text', 'food')
                  .row
                    .small-6.small-offset-6.columns 
                      a#searchButton.button.radius.success.small.expand Search
                  .row
                      #activeSearch.hidden searching...
      .row
        .small-12.columns#searchResults.hidden Search Results
          ul#actualResults 
    .row
      include authentication-form    
      h5 Today's Food Journal:
      #foodJournal
        ul#actualJournal 
    include modals
    .reveal-modal.small#clickedConsumed(data-reveal)
      p.lead That item was already clicked. Unclick that item or cancel with the 'x' in the top-right corner.
      a.button.tiny.radius#unclick Unclick that Serving
      <a id="closeClickedConsumed" class="close-reveal-modal">x</a>
    .reveal-modal.small#myModal(data-reveal)
      .row
        .small-5.columns
          p.lead Add this food to your daily journal...
          input#foodEntered(type: 'text')
          a.button.tiny.radius#addToJournal OK
        .small-7.columns
          #sizeHelp
        <a id="closeMyModal" class="close-reveal-modal">×</a>
    .reveal-modal#clickedResult(data-reveal)
      .row
        .small-6.columns
          #resultItem
          p Serving is listed as:
          #serving  
          p How many servings did you eat?
          .row
            .small-3.small-offset-6.columns
              select#numberOfServings
            .small-3.columns 
              a.button.tiny.radius#submitServing Submit
        .small-6.columns#suggestionSide.hidden
          .row
            p Here is the DQS suggestion:
          .row
            ul#suggestion
          .row
            p Please choose your categories below:
          .row#categorySelects
            .small-6.columns
              label lean protein
              select#leanProteinNumSelect
                option(value = 0) 0
                option(value = 1) 1
                option(value = 2) 2
                option(value = 3) 3
                option(value = 4) 4
                option(value = 5) 5
              label fruit
              select#fruitNumSelect
                option(value = 0) 0
                option(value = 1) 1
                option(value = 2) 2
                option(value = 3) 3
                option(value = 4) 4
                option(value = 5) 5
              label vegetable
              select#vegetableNumSelect
                option(value = 0) 0
                option(value = 1) 1
                option(value = 2) 2
                option(value = 3) 3
                option(value = 4) 4
                option(value = 5) 5
              label dairy
              select#dairyNumSelect
                option(value = 0) 0
                option(value = 1) 1
                option(value = 2) 2
                option(value = 3) 3
                option(value = 4) 4
                option(value = 5) 5
              label whole grains
              select#wholeGrainsNumSelect
                option(value = 0) 0
                option(value = 1) 1
                option(value = 2) 2
                option(value = 3) 3
                option(value = 4) 4
                option(value = 5) 5
            .small-6.columns
              label nuts and seeds
              select#nutsAndSeedsNumSelect
                option(value = 0) 0
                option(value = 1) 1
                option(value = 2) 2
                option(value = 3) 3
                option(value = 4) 4
                option(value = 5) 5
              label refined grains
              select#refinedGrainsNumSelect
                option(value = 0) 0
                option(value = 1) 1
                option(value = 2) 2
                option(value = 3) 3
                option(value = 4) 4
                option(value = 5) 5
              label sweets
              select#sweetsNumSelect
                option(value = 0) 0
                option(value = 1) 1
                option(value = 2) 2
                option(value = 3) 3
                option(value = 4) 4
                option(value = 5) 5
              label fatty protein
              select#fattyProteinNumSelect
                option(value = 0) 0
                option(value = 1) 1
                option(value = 2) 2
                option(value = 3) 3
                option(value = 4) 4
                option(value = 5) 5
              label fried food
              select#friedFoodsNumSelect
                option(value = 0) 0
                option(value = 1) 1
                option(value = 2) 2
                option(value = 3) 3
                option(value = 4) 4
                option(value = 5) 5
          .row
            small-2.small-offset-5.columns
              a.button.tiny.radius#submitRecord Submit
          <a id="closeClickedResult" class="close-reveal-modal">×</a>
